*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/gradlew
/gradlew.bat
/gradle
/.idea
/app/*.iml
/app/src/androidTest
/app/src/test
/app/.cxx
